.root {
  position: absolute;
  left: 6205px;
  top: 576px;
  width: 1440px;
  height: 92px;
  align-items: flex-start;
}
.rectangle27 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 92px;
  outline: solid 1px #e2e2e2;
  outline-offset: -1px;
  background-color: #fff;
}
.image2 {
  position: absolute;
  left: 32px;
  top: 27px;
  width: 112px;
  height: 29px;
  background-image:/* webpackIgnore: true */ url('assets/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.placeholder {
  color: #838383;
  font-size: 16px;
  line-height: 24px;
  font-family: Source Sans Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 63.8889%;
  right: 3.2639%;
  top: 41.3043%;
  bottom: 32.6087%;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
