@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --outgoing-chat-bg: #87CEEB;  /* Updated color */
  --incoming-chat-bg: #90EE90;  /* Updated color */
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

body {
  background: var(--outgoing-chat-bg);
}
.App {
  display: relative;
}

.right-container {
  position: fixed; /* Set position fixed */
  top: 0;
  right: 0;
  width: 25%; /* Set the width to occupy 1/4 of the page */
  height: 100%; /* Occupy the full height of the viewport */
  overflow-y: auto;
  background-color: #f0f0f0;
}

.bottom-container {
  position: fixed; /* Set position fixed */
  bottom: 20px; /* Adjust the positioning as desired */
  right: 20px; /* Adjust the positioning as desired */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.message-container {
  flex-grow: 1;
  max-height: calc(100% - 40px); /* Adjusted for padding of bottom-container */
  overflow-y: auto;
  background-color: var(--outgoing-chat-bg);
}
.message {
  text-align: right;
  display: flex;
  font-size: 1rem;
  padding: 10px;
  overflow-y: auto;
}

.user, .bot {
  display: flex;
  text-align: left;
  flex-direction: row;
  padding: 0 10px;
  color: var(--text-color);
  padding: 10px;
}

.user {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.bot {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.logo {
  width: 10px;
  margin-right: 15px;
  margin-left: 30px;
  flex-direction: column;
  align-self: auto;
}
