@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

body {
  background: var(--outgoing-chat-bg);
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.bottom-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input-form {
  display: flex;
  align-items: left;
}

.input-text {
  flex-grow: 10;
  size: 10px;
  /* Your other styles... */
}

.App button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.App h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.message-container {
  flex-grow: 10;
  overflow-y: auto;
  
}

.message {
  text-align: left;
  display: flex;
  font-size: 1rem;
  padding: 10px;
  overflow-y: auto;

}

.user {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
  display: flex;
  text-align: left;
  justify-content: left;
  flex-direction: row;
  padding: 0 10px;
  text-align: left;
  color: var(--text-color);
  padding: 10px;
}

.bot {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
  display: flex;
  text-align: left;
  flex-direction: row;
  padding: 0 10px;
  color: var(--text-color);
  padding: 10px;
}


.logo {
  width:40px;
  margin-right: 15px;
  margin-left: 30px;
  flex-direction: column;
  align-self: auto;
}


